* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h1{
    font-family: "BBH Sans Bartle", sans-serif;
    color: #7cc883;

}

body{
    font-family: "BBH Sans Bartle", sans-serif;
     font-family: "Nunito", sans-serif;
     background-color: #043d64;
     color: #ffffff;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 2px;
     min-height: 100vh;

}

section{
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 5px;

}input{
    padding: 8px;
    background: transparent;
    border: none;
    border: 5px solid #606064;
    color: #7cc883;
}button{
    padding: 10px ;
    background: #7cc883;
    border: none;
    border: 2px solid #000000;
    color: #000000;

}
button:houver{
  background: #7cc883;
  border: 2px solid #02200f;
  cursor: pointer;
}
    



    